*DS_Store
.DS_Store
/venv/
dist/
.idea

label/
ruska.egg-info/*
ruska/__pycache__
test/__pycache__
test/resources
.cache
build
.pytest_cache/
experiments/
docs/_build

.ipynb_checkpoints/
AutogluonModels/

.env
